[data-dropdown] {
    position: relative;
    ul {
        &.dropdownmenu {
            display: none;
        }
    }
    &:hover, &.active {
        ul {
            &.dropdownmenu {
                display: block;
                animation: show-up 0.3s forwards;
            }
        }
    }
}

.dropdownmenu {
    position: absolute;
    background: #e54;
    border: 2px solid #333;
    z-index: 200;
    top: 45px;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -10px;
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #e54;
    }

    li {
        a {
            &:hover {
                color: #fff;
            }
        }
    }
}

@keyframes show-up {
    from {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
